.footer__container{
  @include breakpoint(small only) {
      font-size: rem-calc(14);
    }
  & .footer__left{
    text-align: left;
    @include breakpoint(medium down) {
      text-align: center !important;
    }
  }
  & .footer__right{
    text-align: right;
    @include breakpoint(medium down) {
      text-align: center !important;
    }
  }
}