.thumb {
  text-align: center;
  &:last-child(){
    .single-videos &{
      @include breakpoint(large) {
        display: none;
      }
    }
  }
}
  .thumb__link{
    position: relative;
    display: block;
    color: $white;
    @include animation();
    &:hover{
      .thumb__image{
        opacity: .1;
        img{
          transform: scale(1.1) translate3d(0,0,0);
          -webkit-backface-visibility: hidden;
        }
      }
      .thumb__title,
      .thumb__location{
        color: $black;
      }
    }
    &:hover {
      
    }
  }
    .thumb__image{
      overflow: hidden;
      @include animation();
      img{
        @include animation();
      }
      &:hover{
        
      }
    }
    .thumb__text{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%) translate3d(0,0,0);
      -webkit-backface-visibility: hidden;
    }
      .thumb__title{
        margin: 0;
        color: $white;
        position: relative;
        margin-bottom: $global-margin / 2;
        &::after{
          content: '';
          position: absolute;
          width: 40px;
          height: 1px;
          bottom: rem-calc(-3);
          left: 50%;
          transform: translateX(-50%);
          background-color: get-color(brand);
          
        }
      }
      .thumb__location{
        color: $white;
        font-size: rem-calc(14);
        // color: get-color(brand);
      }