.thumb {
  text-align: center;
  &:last-child(){
    .single-videos &{
      @include breakpoint(large) {
        display: none;
      }
    }
  }
}
  .thumb__link{
    position: relative;
    display: block;
    color: $black;
    @include animation();
    &:hover{
      .thumb__image{
        opacity: .1;
        img{
          transform: scale(1.1);
        }
      }
      .thumb__text{
        opacity: 1;
      }
    }
    &:hover {
      
    }
  }
    .thumb__image{
      overflow: hidden;
      @include animation();
      img{
        @include animation();
      }
      &:hover{
        
      }
    }
    .thumb__text{
      margin: $global-margin 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
      .thumb__title{
        margin: 0;
        color: $black;
        position: relative;
        margin-bottom: $global-margin / 1.5;
        &::after{
          content: '';
          position: absolute;
          width: 40px;
          height: 1px;
          bottom: rem-calc(-5);
          left: 50%;
          transform: translateX(-50%);
          background-color: get-color(brand);
          
        }
      }
      .thumb__location{
        color: get-color(brand);
      }